View: editor.FieldCollection(
        "{{ $ | Path }}",
        "{{ .Label }}",
        {{ $ | RootMethodReceiver }},
        map[string]func (interface{}, *editor.FieldArgs, ...editor.Field) []byte {
    {{- range $key, $value := $ | CollectionTypes }}
        "{{ $key }}": func(
            v interface{},
            args *editor.FieldArgs,
            injectFields...editor.Field,
        ) []byte {
            fields := append([]editor.Field{
                {{ range .Fields $ }}{
                    {{ .View }}
                },
                {{ end }}
            }, injectFields...)

            return editor.Nested("", v, args, fields...)
        },
    {{- end }}
}),