View: editor.NestedRepeater("{{ $ | Path }}", {{ $ | RootMethodReceiver }}, func(v interface{}, {{ $ | FieldArg }}) (string, []editor.Field)   {
        return "{{ .ReferenceName }}", []editor.Field {
            {{ range .Children }} {
                {{ .View }}
            },
            {{ end }}
        }
    },
),