View: editor.NestedRepeater("{{ $ | Path }}", {{ $ | RootMethodReceiver }}, {{ $ | FieldArg }}, func(v interface{}, args *editor.FieldArgs) (string, []editor.Field)   {
        return "{{ .ReferenceName }}", []editor.Field {
            {{ range .Children }} {
                {{ .View }}
            },
            {{ end }}
        }
    },
),