View: editor.ReferenceSelect(publicPath, "[[ $ | Path ]]", [[ $ | RootMethodReceiver ]], map[string]string{
        "label": "Select [[ .Label ]]",
    }, 
    [[ $ | FieldArg ]],
    "[[ .ReferenceName ]]",
),
