package models

import (
	"encoding/json"
	"fmt"
	ponzuModels "github.com/fanky5g/ponzu/models"
	"strings"
)

type {{ .Definition.Name }}Document struct {
	*content.{{ .Definition.Name }}
}

func (document *{{ .Definition.Name }}Document) Value() (interface{}, error) {
	return json.Marshal(document)
}

func (document *{{ .Definition.Name }}Document) Scan(src interface{}) error {
	if byteSrc, ok := src.([]byte); ok {
		return json.Unmarshal(byteSrc, &document)
	}

	if stringSrc, ok := src.(string); ok {
		return json.NewDecoder(strings.NewReader(stringSrc)).Decode(&document)
	}

	return fmt.Errorf("unsupported type %T", src)
}

type {{ .Definition.Name }}Model struct{}

func (*{{ .Definition.Name }}Model) Name() string {
	return "{{ .Definition.Name | "%q" }}"
}

func (*{{ .Definition.Name }}Model) NewEntity() interface{} {
	return new(content.{{ .Definition.Name }})
}

func (model *{{ .Definition.Name }}Model) ToDocument(entity interface{}) ponzuModels.DocumentInterface {
	return &{{ .Definition.Name }}Document{
		{{ .Definition.Name }}: entity.(*content.{{ .Definition.Name }}),
	}
}

func init() {
	Models = append(Models, new({{ .Definition.Name }}Model))
}
