View: editor.InputRepeater("{{ $ | Path }}", {{ $ | RootMethodReceiver }}, map[string]string{
    "label":       "{{ .Label }}",
    "type":        "text",
    "placeholder": "Enter the {{ .Label }} here",
}),