View: editor.ReferenceSelectRepeater("[[ $ | Path ]]", [[ $ | RootMethodReceiver ]], map[string]string{
        "label": "[[ .Label ]]",
    }, 
    "[[ .ReferenceName ]]", 
    `[[ range .ReferenceJSONTags ]]{{ .[[ . ]] }} [[ else ]][[ .ReferenceName ]]: {{ .id }}[[ end ]]`,
),
