View: editor.ReferenceSelect(paths, "[[ $ | Path ]]", [[ $ | RootMethodReceiver ]], map[string]string{
        "label": "Select [[ .Label ]]",
    }, 
    "[[ .ReferenceName ]]", 
    `[[ range .ReferenceJSONTags ]]{{ .[[ . ]] }} [[ else ]][[ .ReferenceName ]]: {{ .id }}[[ end ]]`,
),
