{{ define "scripts.gohtml" }}
    <script type="text/javascript" src="{{ .PublicPath }}/static/dashboard/js/editor.js"></script>
    <script type="text/javascript" src="{{ .PublicPath }}/static/dashboard/js/workflow.js"></script>
{{ end }}
