{{ define "stylesheets.gohtml" }}
    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/toolbar.css" />
    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/content-editor.css" />
    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/content-editor-toolbar.css" />
    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/workflow.css" />
{{ end }}
