.content-editor .mdc-top-app-bar--fixed-adjust {
    padding-top: 112px;
}

.content-editor.upload .mdc-top-app-bar--fixed-adjust {
    padding-top: 56px!important;
}

.content-editor .form-view-root {
    padding: 0;
}
