{{ define "stylesheets.gohtml" }}
    <link rel="stylesheet" href="{{ .PublicPath }}/static/css/errors.css" />
{{ end }}
{{ define "scripts.gohtml" }}{{ end }}

{{ define "page.gohtml" }}
    <div class="error-page-root">
        <div class="error-content">
            <div class="card-title align-center"><b>405</b> Error: Method Not Allowed</div>
            <blockquote class="align-center">Sorry, the method of your request is not allowed.</blockquote>
        </div>
    </div>
{{ end }}