<!doctype html>
<html lang="en">
    <head>
        <title>{{ .Logo }}</title>
        <script type="text/javascript" src="{{ .PublicPath }}/static/common/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{{ .PublicPath }}/static/common/js/util.js"></script>
        <script type="text/javascript" src="{{ .PublicPath }}/static/dashboard/js/material-components-web.min.js"></script>
        <script type="text/javascript" src="{{ .PublicPath }}/static/dashboard/js/chart.bundle.min.js"></script>
        <script type="text/javascript" src="{{ .PublicPath }}/static/editor/quill.js"></script>
        {{ template "scripts.gohtml" . }}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
        <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/material-components-web.min.css" />
        <link rel="stylesheet" href="{{ .PublicPath }}/static/editor/quill.snow.css" />
        <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/admin.css" />

        {{ template "stylesheets.gohtml" . }}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        {{ template "app-frame.gohtml" . }}
        
        <script type="text/javascript" src="{{ .PublicPath }}/static/common/js/admin.js"></script>
        <script type="text/javascript">
            const publicPath = "{{ .PublicPath }}";

            (function() {
                window.Ponzu = {
                    publicPath,
                    loadScript: (path, callback = () => {}) => {
                        if (!path.startsWith(publicPath)) {
                            path = `${publicPath}${path}`;
                        }

                        if (this.loadedScripts?.[path] === true) {
                            return;
                        }

                        const script = document.createElement('script');
                        script.onload = callback;
                        script.src = path;
                        document.head.appendChild(script);
                        this.loadedScripts = {
                            ...(this.loadedScripts || {}),
                            [path]: true,
                        };
                    },
                };
            })();
        </script>
    </body>
</html>
