<div class="col s12 card-action post-controls">
    <div class="input-field">
        <button class="right waves-effect waves-light btn green save-post" type="submit">Save</button>
        <button class="right waves-effect waves-light btn red delete-post" type="submit">Delete</button>
    </div>
</div>