<div class="form-view-footer">
    <div class="form-view-buttons">
        <button class="right waves-effect waves-light btn green save-post" type="submit">Save</button>
        <button class="right waves-effect waves-light btn red delete-post" type="submit">Delete</button>
    </div>
</div>
