<div class="form-view-footer">
    <div class="form-view-buttons">
        <button class="mdc-button mdc-button--outlined delete-post">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Delete</span>
        </button>
        <button class="mdc-button mdc-button--raised save-post">
          <span class="mdc-button__label">Save</span>
        </button>
    </div>
</div>
