<div class="error-page-root">
    <div class="error-content">
        <div class="card-title align-center"><b>404</b> Error: Not Found</div>
        <blockquote class="align-center">Sorry, the page you requested could not be found.</blockquote>
    </div>
</div>
