<!doctype html>
<html lang="en">
<head>
    <title>{{ .Logo }}</title>
    <script type="text/javascript" src="{{ .PublicPath }}/static/common/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ .PublicPath }}/static/common/js/util.js"></script>
    <script type="text/javascript" src="{{ .PublicPath }}/static/dashboard/js/material-components-web.min.js"></script>
    <script type="text/javascript" src="{{ .PublicPath }}/static/dashboard/js/chart.bundle.min.js"></script>
    <script type="text/javascript" src="{{ .PublicPath }}/static/editor/quill.js"></script>

    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/material-icons.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=add_row_above,remove,cloud_upload" rel="stylesheet" />
    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/material-components-web.min.css" />
    <link rel="stylesheet" href="{{ .PublicPath }}/static/editor/quill.snow.css" />
    <link rel="stylesheet" href="{{ .PublicPath }}/static/dashboard/css/admin.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div id="app">
    <div class="layout-content">
        <div class="main">
